# filter
filter.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
